[submodule "jamplus"]
	path = jamplus
	url = https://github.com/jamplus/jamplus.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "zeromq/libzmq"]
	path = zeromq/libzmq
	url = https://github.com/zeromq/libzmq.git
